.html {
  height: 100%;
}
.bg-pattern {
  background-image: url(../images/backgrounds/footer_lodyas.png);
}
section {
  background-attachment: fixed;
}
section .container.trance {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 45px;
}
