{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Dulles' Plan</title>
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/less/bootstrap.css' %}">
    </head>
    <body>
    <section class="bg-pattern">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                 <ul class="nav navbar-nav">
                     <li><a href="123">Навигация</a></li>
                     <li><a href="123">Хуевигация</a></li>
                 </ul>
            </div>
        </nav>
        <div class="container trance">
            <div class="row">
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-order-item">
                        <h2>Kiril Kerilov</h2>
                        <h3><span></span>666</h3>
                        <p>1488</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        {% block content %}

        {% endblock %}
    <footer>
        <script src="{% static 'js/script.js' %}"></script>
    </footer>
    </body>
</html>